@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Playfair+Display&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Common Styles */
html, body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
  }
  
.overlay {
    background-color: #CCD5AE;
}
/* End of Common Styles */

/* nav */
.header-area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
  }

  .header-area .main-menu .nav-item .nav-link {
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: black;
  }

  .header-area .main-menu .navbar-nav .active {
    background: #FEFAE0;
  }

  .header-area .main-menu .navbar-nav :hover {
    background: #FEFAE0;
  }
  /* end of nav */

  /* hero img */
  .hero {
    background-image: url(./imgs/85a34d30-974d-4f1f-94db-c0c8c87bbc3d.JPG); 
    height: 100vh;
    background-size: cover;   
  }
  /* end of hero  */