@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Playfair+Display&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Common Styles */
html, body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
    overflow-x: hidden;
  }
  

/* End of Common Styles */

/* nav */
.header-area{
  background-color: black;
  color: pink;
}

.header-area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
  }

#title {
  color: pink;
}

.header-area .main-menu .nav-item .nav-link {
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: pink;
  background-color: black;
  }

  .header-area .main-menu .navbar-nav .active {
    background: #FEFAE0;
  }

  .header-area .main-menu .navbar-nav :hover {
    background: #FEFAE0;
  }

  .navbar-toggler{
    background-color: pink;
  }
  /* end of nav */

  /* hero img */

  .cover {
    background: no-repeat center/cover;
  }
  
  .hero .container-fluid {
    z-index: 10;
  }

 .caption {
   background-color: rgba(255, 206, 220, 0.7);
 }
  /* end of hero  */

  /* about section */
  .about-section {
    background-color: black;
    color: pink;
    padding: 5px;
    height: 300px;
  }

  .hidden {
    opacity: 0;
  }
  /* end of about section */