@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Playfair+Display&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Common Styles */
html, body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
    overflow-x: hidden;
  }
  

/* End of Common Styles */

/* nav */
.header-area{
  background-color: black;
  color: pink;
}

.header-area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
  }

#title {
  color: pink;
}

.header-area .main-menu .nav-item .nav-link {
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: pink;
  background-color: black;
  }

  .header-area .main-menu .navbar-nav .active {
    background: #FEFAE0;
  }

  .header-area .main-menu .navbar-nav :hover {
    background: rgba(126, 129, 135);
  }

  .navbar-toggler{
    background-color: pink;
  }
  /* end of nav */

  /* hero img */

  #hero {
    object-fit: contain;
  }

  .cover {
    background: no-repeat center/cover;
  }
  
  .hero .container-fluid {
    z-index: 10;
  }

  .hero-container {
    max-width: 550px;
  }

 .caption {
   background-color: rgba(255, 206, 220, 0.7);
 }
  /* end of hero  */

  /* about section */
  .about-section {
    background-color: black;
    color: pink;
    padding: 5px;
    height: auto;
    border: 5px solid pink;
  }

  .about-header {
    color: pink;
    text-decoration: none;
  }

  .about-para {
    font-size: 15px;
    margin: 50px 50px 50px 50px
  }
  /* end of about section */

  .treks-section {
    background-color: rgba(255, 206, 220, 0.7);
    color: black;
    padding: 5px;
    height: auto;
    border: 5px solid black;
  }

  .card-text {
    height: 200px;
    margin: auto;
  }

  .trek-card {
    margin: 15px;
    box-shadow: 2px 2px;;
  }

  .card-img-top {
    max-height: 150px;
  }

  #slider {
    height: 500px;
    width: 500px;
    margin: auto;
  }

  #slider1 {
    height: 500px;
    width: 500px;
    margin: auto;
  }

  #slider2 {
    height: 500px;
    width: 500px;
    margin: auto;
  }


  /* body fade */
#wrapper {
  display:none;
}

